<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>60B433FB-7962-4D91-9D7B-25075E58E57A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Abreve</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Amacron</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aogonek</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Cacute</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ccaron</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ccedilla</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Cdotaccent</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dcaron</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dcroat</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ebreve</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ecaron</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Edotaccent</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Emacron</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eng</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eogonek</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gbreve</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gcircumflex</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gcommaaccent</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gdotaccent</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Germandbls</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hbar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hcircumflex</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ibreve</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Idotaccent</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Imacron</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iogonek</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Itilde</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Jcircumflex</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kcommaaccent</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lacute</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lcaron</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lcommaaccent</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ldot</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Nacute</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ncaron</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ncommaaccent</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Obreve</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ohungarumlaut</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omacron</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Racute</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Rcaron</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Rcommaaccent</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Sacute</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Scedilla</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Scircumflex</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tbar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tcaron</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tcedilla</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ubreve</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uhungarumlaut</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Umacron</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uogonek</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uring</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Utilde</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Wcircumflex</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ycircumflex</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zacute</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zdotaccent</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.abreve</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.amacron</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.atilde</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ccaron</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ccedilla</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ccircumflex</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cdotaccent</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colonsign</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcroat</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ebreve</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ecaron</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.edotaccent</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.emacron</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eng</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eogonek</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gbreve</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gcircumflex</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gcommaaccent</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gdotaccent</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hbar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hcircumflex</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ibreve</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.imacron</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iogonek</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jcircumflex</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kcommaaccent</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kgreenlandic</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lacute</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lcaron</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lcommaaccent</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ldot</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.longs</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macronbelowcomb</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nacute</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.napostrophe</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ncaron</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ncommaaccent</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.obreve</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ohungarumlaut</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.omacron</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oopen</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.questiondown</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.racute</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rcaron</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rcommaaccent</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sacute</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.scedilla</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.scircumflex</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tbar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tcaron</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tcedilla</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ubreve</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uhungarumlaut</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.umacron</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uogonek</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uring</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.utilde</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.wcircumflex</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ycircumflex</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zacute</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zdotaccent</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
